.btn {
  height: 40px;
  padding: 0 0.75rem;
  background-color: $background_dark;
  color: $text_light;
  border: none;
  border-radius: 0.25rem;
  font-family: $font;
  font-size: 0.9rem;
  outline: none;
  cursor: pointer;
  &:hover {
      background-color: $dark_hover;
  }
  &:focus {
      box-shadow: 0 0 0 0.2rem $dark_focus;
  }
  &:disabled {
      background-color: $dark_disabled;
  }
  &_light {
      background-color: $light;
      color: $text_dark;
      &:hover {
          background-color: $light_hover;
      }
      &:focus {
          box-shadow: 0 0 0 0.2rem $light_focus;
      }
  }
}
